#header{
  display: grid;   
}

.pkt{
    font-size: 2vw;
    font-family: 'Lobster', cursive;
    background-color: transparent;
    border: none;
}

#new-game{
    font-size: 1.5vw;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    background-color: black;
    cursor: pointer;
    color: white;
    text-shadow: 5px 5px 15px white;
}

#new-game:hover{
    background-color: wheat;
    color: black;
    text-shadow: 5px 5px 15px black;
}

.acction-button{
    font-size: 3vw;
    border-radius: 10px;
    transition: .4s;
    background-color: black;
    cursor: pointer;
    color: white;
    text-shadow: 5px 5px 15px white;
}

.acction-button:hover{
    background-color: wheat;
    color: black;
    text-shadow: 5px 5px 15px black;
}

.options{
    height: 10vh;
    text-align: center
}

.informations{
    height: 10vh;
    text-align: center
}

#player{
    font-size: 3vw;
    color: green;
}

#result{
    font-size: 3vw;
    color: red;
}

#wynik{
    font-size: 3vw;
}

#player-name{
    font-size: 2vw;
    text-align: center;
    border-radius: 15px;
}

#addName{
    font-size: 2vw;
    border-radius: 10px;
    transition: .4s;
    background-color: black;
    cursor: pointer;
    color: white;
    text-shadow: 5px 5px 15px white;
}

#addName:hover{
    background-color: wheat;
    color: black;
    text-shadow: 5px 5px 15px black;
}